.header, .hero, .footer {
 background-color: #1F2937;
 margin: 0;
 padding: 20px 130px 0 200px;
}

.header-logo {
    font-family: Roboto;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bolder;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

li {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 72px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero-text  {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto;
    flex: 0 1 auto;
    margin: 0;
    margin-right: 50px ;
}
.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: Roboto;
    margin-left: auto;
}

.image-placeholder {
    width: 800px;
    height: 230px;
    color:#F9FAF8;
    font-size: 18px;
    font-family: Roboto;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 ;
   
    
}

.hero-left {   
   
    flex: 1;
}

.footer {
    height: 72px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto; }

    button{
        background-color: #3882F6;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 8px 35px 8px 35px;
        margin-top: 10px;
        border: none;
        flex: 0 1 auto;
        align-self: flex-start;
    }

    .body-middle1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body-title {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        font-family: Roboto;
        padding: 50px;
    }

    .ill-cluster {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
    }

    .illustration {
        border: solid #3882F6 4px;
        border-radius: 15px;
        width: 160px;
        height: 160px;

    }

    .ill-cluster-1 {
    display: flex;
    width: 165px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: Roboto;
    color: grey;
    margin: 25px;
    margin-top: 0;
    }

    .quote-section {
        background-color: #E5E7EB;
        padding: 120px 280px 120px 300px;
        

    }

    .quote {
        color: #1F2937;
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
        font-family: Roboto;
    }

    .author {
        font-size: 24px;
        font-family: Roboto;
        font-weight: 900;
        text-align: right;
        color: #1F2937;
    }

    .body-tail {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        padding-left: 120px;
    }

    .cta {
        font-size: 18px;
        color: #E5E7EB;
        font-family: Roboto;
        background-color: #3882F6;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        padding-right: 100px;
        padding-left: 100px;
        border-radius: 10px;
        
    }

    .cta-button {
        border: solid 2px white;
    }

    .cta-head {
        font-size: 24px;
        font-weight: bold;
    }

    .cta-text {
        display: flex;
        flex-direction: column;
        flex:1;
        margin-right: 150px;
    }